html{
    font-size: 100%;
}

body{
    color: #24292e;
    font-family: "Sawarabi Gothic";
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 96%;
    margin: 70px auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title{
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color: #24292e;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}


/* header */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

#header ul li {
    font-size: 0.9rem;
    margin-left: 15px;
    margin-right: 15px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover{
    opacity: 0.5;
}

#main {
    display: flex;
    justify-content: center;
}

/* about */
#about ul {
    margin-bottom: 30px;
}

#about ul li {
    margin-bottom: 3px;
}

/* items */
.lists-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Item-lists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item-lists {
    padding-left: 5px;
    padding-right: 5px;
}

.item-img {
    max-width: 100%;
}

.item-listsTitle {
    font-size: 20px;
}

/* topics */
#topics dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ffbc65;
    margin-bottom: 20px;
}

#topics dt {
    width: 20%;
    border-bottom: 1px solid #ffbc65;
    padding: 15px;
}

#topics dd {
    width: 80%;
    border-bottom: 1px solid #ffbc65;
    padding: 15px;
}

/* contact */
#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid #ffbc65;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid #888888;
    background-color: #888888;
    width: 200px;
    padding: 15px 0;
    color: #fff;
}

#contact .button input:hover {
    background-color: #fff;
    color: #888888;
    transition: all 0.5s;
}


/* sp */
@media screen and (max-width: 1000px) {
    /* header */
    #header {
        flex-direction: column;
        height: auto;
        width: auto;
        line-height: 20px;
        margin-top: 20px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }


    /* about */
    #about li {
        font-size: 0.9rem;
    }


    /* items */
    #items p {
        font-size: 0.5rem;
    }


    /* topics */
    #topics dl {
        flex-direction: column;
    }

    #topics dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #topics dd {
        width: 100%;
    }


    /* contact */
    #contact dl {
        flex-direction: column;
    }
    
    #contact dt {
        width: 100%;
        margin-bottom: 5px;
    }

    #contact dd {
        width: 100%;
    }

}
